{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {},
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "react-app",
    "airnb"
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "jsx": true
  }
}
